__pycache__/
*.pyc
.env
.env.*
instance/
.venv/
.vscode/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
coverage.xml
*.sqlite
*.sqlite3
*.db
*.log
.DS_Store
client_secret_*.json
termin-gmail-service-account-key.json
node_modules